<!-- @include _header -->

section
	div.content
	  <!-- @include _profile -->
	  <!-- @include _experience -->
	div.meta
	  <!-- @include _skills -->
	  <!-- @include _tools -->
	  <!-- @include _references -->
	  <!-- @include _contact -->

<!-- @include _footer -->