<!-- @include _head -->
	body.h-resume
		article
			<!-- @include _header -->
			div.in
				div.content
					<!-- @include _profile -->
					<!-- @include _experience -->
				div.meta
					<!-- @include _education -->
					<!-- @include _skills -->
					<!-- @include _tools -->
					<!-- @include _references -->
					<!-- @include _contact -->
<!-- @include _footer -->